<%= @user.email %>,

Thank you for signing up. You account has been verified.



<p>Need support?
If you are having any issues with your account, please don´t hesitate to contact us by replying to this mail. </p>

<p>Thanks!</p>






<p>You are receiving this email because you have an account on webpage Explorerify. If you are not sure why you are receiving this, please contact us at explorerify@gmail.com</p>