<p>Hello <%= @user.email %>,</p>

<p>Thank you for signing up. Before you go out and play on Explorerify, please verify your email address.</p>

<p>Why you ask? 
Connecting with other readers and writers is a big part of the experience. We´ll email you about interactions with other people on our page.</p>

<p>Need support?
If you are having any issues with your account, please don´t hesitate to contact us by replying to this mail. </p>

<p>Thanks!</p>






<p>You are receiving this email because you have an account on webpage Explorerify. If you are not sure why you are receiving this, please contact us at explorerify@gmail.com</p>