<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://i.pinimg.com/736x/29/7b/ef/297bef41abbf96c8137b5abd7798e2e1--the-face-black-kitty.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Michaela Horčičáková</h3>
        <em>click my face for more</em>
        </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Michaela</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://i.pinimg.com/736x/29/7b/ef/297bef41abbf96c8137b5abd7798e2e1--the-face-black-kitty.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Michaela Horčičáková <small>Slovakia</small></h3>
                    <span><strong>Languages: </strong></span>
                        <span class="label label-warning">English</span>
                        <span class="label label-info">Slovak</span>
                        <span class="label label-success">Czech</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Michaela</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
        <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1349076.76222847!2d18.57501922407078!3d48.66885777360368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471460b9ae7cc67f%3A0xcd6b6167b1723a7d!2sSlovakia!5e0!3m2!1sen!2sbd!4v1510939229535" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    	
      	<div class="col-md-5">
    		<h2>Visit us:</h2>
    		<address>
    			<strong>Explorerify</strong><br>
    			15 Podvysoká<br>
    			Podvysoká<br>
    			Slovakia<br>
    			021 12<br>
    			Phone:01234 567 890
    		</address>
    	</div>
    </div>
</div>