body {
    padding-top: 1px;
}

@media (min-width: 992px) {
    body {
        padding-top: 3px;
    }
}

/* Header with Background Image (HomePage)*/
.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('carousel1.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    height: 100%;
}

.navigation-content .main-content {
    position: relative;
}

.main-nav-scrolled {
  position: fixed !important;
  z-index: 99;
  width: 100%;
  top: 0;
}

.equal {  
    display: -webkit-flex;
    display: flex;
}

.card-button-position {
  position: absolute;
  right:    3px;
  bottom:   3px;
  color: #000000 !important;
}