<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>




<p>Need support?
If you are having any issues with your account, please don´t hesitate to contact us by replying to this mail. </p>

<p>Thanks!</p>






<p>You are receiving this email because you have an account on webpage Explorerify. If you are not sure why you are receiving this, please contact us at explorerify@gmail.com</p>
