<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>





<p>Need support?
If you are having any issues with your account, please don´t hesitate to contact us by replying to this mail. </p>

<p>Thanks!</p>






<p>You are receiving this email because you have an account on webpage Explorerify. If you are not sure why you are receiving this, please contact us at explorerify@gmail.com</p>
